<nb-card>
  <div class="img-container">
    <img [src]="(user | async).avatar" alt="">
    <div class="user-info">
      <div class="user-name">{{(user | async).login}}</div>
      <div class="count-div">В сервисе дней: 13</div>
    </div>
    <a class="img-edit" routerLink="editProfile">
      <i class="fa fa-gear" aria-hidden="true"></i>
    </a>
  </div>
  <div class="posts-and-likes">
    ПОСТЫ: <span>{{(posts | async).length}}</span>  КОММЕНТАРИИ: <span>{{comments}}</span>
  </div>
</nb-card>
<app-post *ngFor="let post of (posts | async )" [post]="post"></app-post>
