<nb-card>
  <div class="img-container">
    <img [src]="user.avatar" alt="">
    <div class="user-info">
      <div class="user-name">{{user.name}}</div>
      <div class="count-div">В сервисе дней: 13</div>
    </div>
    <a class="img-edit" routerLink="setting">
      <i class="fa fa-gear" aria-hidden="true"></i>
    </a>
  </div>
  <div class="posts-and-likes">
    ПОСТЫ: <span>{{posts.length}}</span>  КОММЕНТАРИИ: <span>{{comments}}</span>
  </div>

</nb-card>
<nb-card>
  <div class="about-user">
    <span>О Себе:</span> <br>
    <span>{{user.description}}</span>
  </div>

</nb-card>

