
<nb-card class="nb-card-user">
  <div class="img-container">
    <img [src]="user.avatar" alt="">
    <div class="user-info">
      <div class="user-name">{{user.login}}</div>
      <div class="count-div">В сервисе: 13 дней</div>
    </div>
    <a class="img-edit" routerLink="setting">
      <i class="fa fa-gear" aria-hidden="true"></i>
    </a>
  </div>
  <div class="posts-and-likes">
    ПОСТЫ: <span>{{user.postIds.length}}</span>  КОММЕНТАРИИ: <span>{{comments}}</span>
  </div>

</nb-card>
<nb-card>
  <div class="about-user">
    <span>О Себе:</span> <br>
    <span>{{user.description}}</span>
  </div>

</nb-card>
<app-post *ngFor="let post of posts" [post]="post"></app-post>

