.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.logoStyle img{
  max-width: 50%;
  height: auto;
}
.search {
  position: relative;
  margin-left: auto;
  margin-right: 0.4rem;

  .search-input {
    padding: .5rem 1.25rem .5rem 1.8rem;
    font-size: .75rem;
    line-height: 1.25;
  }

  &:before {
    content: '\f002';
    font-family: 'FontAwesome';
    position: absolute;
    left: 0.7rem;
    top: 0.5rem;
    color: #4ca6ff;
  }
}

.logo a {
  text-decoration: none;
}

.logo a:hover {
  color: #47a4ff;
  text-decoration: underline;
}

.sign-in {
  margin-right: 0.4rem;
}

.signed-buttons {
  display: flex;
  justify-content: space-around;
  min-width: 20%;
}

.signed-buttons a.profile {
  text-decoration: none;
}

.signed-buttons a.exit {
  cursor: pointer;
  text-decoration: none;
  color: #4ca6ff;
  margin-left: 0.4rem;
}

.signed-buttons a.exit:hover {
  text-decoration: underline;
}

.header-btn:hover {
  cursor: pointer;
}

