<form *ngIf="isLoad" [formGroup]="form" (submit)="onSubmit()">
<nb-card class="nb-card-user">
  <div class="img-container">
    <img [src]="user.avatar || avatar" alt="">
    <div class="user-info">
      <div class="user-name">{{user.login}}</div>
      <div class="setPhoto">
        <app-uploading-button (fileSelect)="onFileSelect($event)"></app-uploading-button>
        <span>{{fileName ? fileName: 'Файл не выбран'}}</span>
      </div>
    </div>

  </div>

</nb-card>
<nb-card>


  <div class="about-user">
    <span>О Себе:</span> <br>
    <textarea [value]="user.description" cols="130" formControlName="desc" fullWidth nbInput rows="5" status="info"
    ></textarea>

  </div>
  <button [disabled]="loading" class="btnSave" nbButton outline size="small" status="info" type="submit">Сохранить <i
    *ngIf="loading" class="fa fa-spinner fa-spin fa-fw"></i></button>
</nb-card>
</form>

