<form *ngIf="isLoad" [formGroup]="form" (submit)="onSubmit()">
<nb-card class="nb-card-user">
  <div class="img-container">
    <img [src]="user.avatar || avatar" alt="">
    <div class="user-info">
      <div class="user-name">{{user.login}}</div>

      <app-uploading-button (fileSelect)="onFileSelect($event)"></app-uploading-button>
      <span>{{fileName ? fileName: 'Файл не выбран'}}</span>
    </div>

  </div>

</nb-card>
<nb-card>


  <div class="about-user">
    <span>О Себе:</span> <br>
      <textarea formControlName="desc" nbInput fullWidth [value]="user.description" cols="130" rows="5"  #textarea
    ></textarea>

  </div>
  <button type="submit"  nbButton status="info" size="xsmall" outline>Сохранить <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
</nb-card>
</form>

