<nb-card>
  <nb-card-header>Публикация</nb-card-header>
  <nb-card-body>
    <form [formGroup]="editorForm" (submit)="onSubmit()">
      <input formControlName="headline" id="input_header" class="add-margin-bottom" type="text" nbInput fullWidth status="info" maxlength="100"
             placeholder="Заголовок">
      <textarea formControlName="text" id="input_text" class="add-margin-bottom" nbInput fullWidth status="info" maxlength="2000"
                placeholder="Текст" rows="10"></textarea>

      <app-loading-button (onFileSelect)="handlerEditor($event)"></app-loading-button>
      <span *ngIf="isFile(); then fileSelected else fileNotSelected"></span>
      <ng-template #fileSelected>{{file[0].name}}</ng-template>
      <ng-template #fileNotSelected>Файл не выбран</ng-template>

      <label for="multiple_select">
        <h4>Метки</h4>
      </label>
      <nb-select formControlName="tags" id="multiple_select" class="add-margin-bottom" multiple outline status="info"
                 placeholder="Выберите метки">
        <nb-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</nb-option>
      </nb-select>
      <button type="submit" nbButton class="add-margin-right" status="info" [disabled]="!editorForm.valid">Опубликовать</button>
    </form>
  </nb-card-body>
</nb-card>
