<nb-layout>
  <nb-layout-column>
    <nb-sidebar state="compacted">

      <a href="#" (click)="toggle()"><i class="fa fa-bars"></i></a>
      <nb-card>
        <nb-card-body>
          <nb-menu [items]="navbarLink"> </nb-menu>
        </nb-card-body>
      </nb-card>
    </nb-sidebar>
  </nb-layout-column>

</nb-layout>
<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column class="main-content-container">
    <app-show-posts></app-show-posts>
  </nb-layout-column>
</nb-layout>

<router-outlet></router-outlet>
