.post-container {
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
}

.info-block-container {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tags {
  font-style: italic;
}

.div-img {
  img {
    width: 100%;
    margin: auto;
    display: inline;
  }
  width: 30%;
  min-width: 30%;
  height: auto;
  margin-right: 30px;
  margin-bottom: 20px;
  float: left;
}
