.post-container {
  cursor: pointer;
}

nb-layout-column {
  height: auto;
  margin-top: 0;
  padding-bottom: 5px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tags {
  font-style: italic;
}

.div-img img {
  width: 100%;
  margin: auto;
  display: inline-block;
}

.div-img {
  width: 30%;
  min-width: 30%;
  height: auto;
  margin-right: 30px;
}

nb-card-body {
  display: flex;
  justify-content: center;
}

