 <nb-card class="post-container" (click)="goToPostPage()">
   <nb-card-header>
     <div class="info-block-container">
       <app-info-post-links [text]="post.user" [image]="post.profilePhotoSrc" class="block"></app-info-post-links>
       <app-info-post-links [text]="post.likes.toString()" icon="heart" class="block"></app-info-post-links>
       <app-info-post-links [text]="post.comments.toString()" icon="commenting-o" class="block"></app-info-post-links>
       <app-info-post-links [text]="post.date.toString()" icon="calendar-o" class="block"></app-info-post-links>
     </div>
     <h2>{{post.title}}</h2>
     <div class="tags-links">
       <app-tags [tags]="post.tags" class="tags"></app-tags>
     </div>
   </nb-card-header>
   <nb-card-body>
     <div *ngIf="post.imgPostSrc" class="div-img">
       <img [src]="post.imgPostSrc" alt="">
     </div>
     <div class="postText">
       <app-text-post [text]="post.text"></app-text-post>
     </div>
   </nb-card-body>
 </nb-card>

