 <nb-card class="post-container" (click)="goToPostPage()">
   <nb-card-header>
     <div class="info-block-container">
       <app-info-post-links [text]="post.author.name" [image]="post.author.avatar" class="block" [id]="post.author.id"></app-info-post-links>
       <app-info-post-links [text]="1" icon="heart" class="block"></app-info-post-links>
       <app-info-post-links [text]="1" icon="commenting-o" class="block"></app-info-post-links>
       <app-info-post-links [text]="date" icon="calendar-o" class="block"></app-info-post-links>
     </div>
     <h2>{{post.title}}</h2>
     <div class="tags-links">
       <app-tags [tags]="[1, 2]" class="tags"></app-tags>
     </div>
   </nb-card-header>
   <nb-card-body>
     <div *ngIf="post.image" class="div-img">
       <img [src]="post.image" alt="">
     </div>
     <span class="postText">
       <app-text-post [text]="post.text"></app-text-post>
     </span>
   </nb-card-body>
 </nb-card>

