<div class="container">
  <h1>Вход</h1>
  <form [formGroup]="signInForm" novalidate>
    <input class="login" formControlName="login" status="info" fullWidth fieldSize="medium" type="text" nbInput
           placeholder="Логин">
    <input class="pass" formControlName="pass" status="info" fullWidth fieldSize="medium" type="text" nbInput
           placeholder="Пароль">
  </form>
  <div class="sign-in-button">
    <button nbButton outline status="info" size="xsmall">Вход</button>
  </div>
</div>


