<div class="container">
  <h1>Вход</h1>
  <form [formGroup]="signInForm" (submit)="onSubmit()">
    <input class="login" formControlName="login" status="info" fullWidth fieldSize="medium" type="text" nbInput
           placeholder="Логин">
    <input class="pass" formControlName="pass" status="info" fullWidth fieldSize="medium" type="password" nbInput
           placeholder="Пароль">
    <div class="error" *ngIf="isControlInvalid()">
      Пароль минимум 5 символов
      <br>
    </div>
    <div *ngIf="errorAuth">
      Неверный логин/пароль
    </div>
    <div class="sign-in-button">
      <button type="submit" nbButton outline status="info" size="xsmall" [disabled]="signInForm.invalid">Вход</button>
    </div>

  </form>
</div>


