<div *ngIf="isDataLoad; else loading">
  <app-profile-header [user]="user"></app-profile-header>

  <ng-container *ngIf="posts.length > 0; else noPosts">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </ng-container>

</div>

<ng-template #loading>
  <div>Loading</div>
</ng-template>

<ng-template #noPosts>
  <nb-card>
    <nb-card-body>
      Публикаций пока нет<br>
      <ng-container *ngIf="isProfile">
        Бегом <a routerLink="/create">публиковать</a> публикации!
      </ng-container>
    </nb-card-body>
  </nb-card>
</ng-template>
