<div *ngIf="isDataLoad; else loading">
  <app-profile-header [user]="user"></app-profile-header>

  <ng-container *ngIf="posts.length > 0; else noPosts">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </ng-container>

</div>

<ng-template #loading>
  <app-loading size="l"></app-loading>
</ng-template>

<ng-template #noPosts>
  <nb-card>
    <nb-card-header>
      Публикаций пока нет
    </nb-card-header>
    <nb-card-body *ngIf="isProfile">
      <a routerLink="/create">Опубликуйте</a> свой первый пост!
    </nb-card-body>
  </nb-card>
</ng-template>
