/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "assets/font.css";
.NavbarLikeIcon:before{
  color:#F65947;
}
.nb-theme-default nb-menu .menu-items>.menu-item{
  border:0px;
}
.nb-theme-default nb-menu .menu-items>.menu-item:first-child{
  border: 0px;
}

.menu-icon:before{
  font-size: 1.6rem;

}
.nb-theme-default nb-card-body{
  overflow: inherit;
  padding: 0;
}
.menu-title{
 padding-top: 0.4rem;
}



.fa {
  color: #878a8c;
}

.fa-heart:before {
  color: red;
}
