/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "assets/font.css";

.fa {
  color: #878a8c;
}

.fa-heart:before {
  color: red;
}
.fa-gear:before, .fa-cog:before {
  color: white;
  font-size: 2em;
}

.nb-theme-default nb-layout .layout nb-layout-header nav {
  justify-content: center;
}
