<div class="container">
  <h1>Регистрация</h1>
  <form [formGroup]="signUpForm">
    <input class="login" formControlName="login" fullWidth status="info" fieldSize="medium" type="text" nbInput
           placeholder="Логин">


    <input class="pass" formControlName="pass" fullWidth status="info" fieldSize="medium" type="text" nbInput
           placeholder="Пароль">

    <input class="doublePass" formControlName="doublePass" fullWidth status="info" fieldSize="medium" type="text"
           nbInput placeholder="Повторите пароль">
  </form>

  <div class="sign-up-button">
    <button nbButton outline status="info" size="xsmall">Зарегистрироваться</button>
  </div>
</div>
