<div class="container">
  <h1>Регистрация</h1>
  <form [formGroup]="signUpForm" (submit)="onSubmit()">
    <input class="login" formControlName="login" fullWidth status="info" fieldSize="medium" type="text" nbInput
           placeholder="Логин">

    <div formGroupName="passwords">
      <input class="pass" formControlName="pass" fullWidth status="info" fieldSize="medium" type="text" nbInput
             placeholder="Пароль">

      <input class="doublePass" formControlName="doublePass" fullWidth status="info" fieldSize="medium" type="text"
             nbInput placeholder="Повторите пароль">
      <div class="error" *ngIf="signUpForm.controls['passwords'].controls['doublePass'].dirty && isError()">
        Пароли не совпадают
      </div>
    </div>

    <div class="sign-up-button">
      <button type="submit" nbButton outline status="info" size="xsmall" [disabled]="!signUpForm.valid">
        Зарегистрироваться
      </button>
    </div>
  </form>
</div>
