<nb-card class="card">
  <div class="sing-up-card">

    <img class="img" width=30rem height=356rem src="http://on-desktop.com/wps/Backgrounds_Blue_waves_035506_.jpg">

    <div class="form">
      <h2>Регистрация</h2>
      <div class="login input">
        <input fullWidth status="info" fieldSize="small" type="text" nbInput placeholder="Логин">
      </div>

      <div class="password input">
        <input fullWidth status="info" fieldSize="small" type="text" nbInput placeholder="Пароль">
      </div>

      <div class="password input">
        <input fullWidth status="info" fieldSize="small" type="text" nbInput placeholder="Повторите пароль">
      </div>

      <div class="sign-up-button">
        <button nbButton outline status="info" size="xsmall">Зарегистрироваться</button>
      </div>

      <div class="lets-sign-in">
        <span>Есть аккаунт? </span>
        <a href="#">Войти</a>
      </div>

    </div>

  </div>
</nb-card>


