<nb-card>
  <nb-card-header>
    <div class="info-block-container">
      <app-info-post-links [text]="comment.user.user" [image]="comment.user.profilePhotoSrc" class="block"></app-info-post-links>
      <app-info-post-links *ngIf="isSubmit();" [text]="comment.date" icon="calendar-o" class="block"></app-info-post-links>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="!isSubmit();">
      <textarea id="input_text" nbInput status="info" fullWidth maxlength="100" placeholder="Введите комментарий" rows="1"></textarea>
      <button nbButton class="submit-button" status="info" size="xsmall" (click)="submitted()">
        Отправить
      </button>
    </div>
    <div *ngIf="isSubmit();">
      {{comment.text}}
    </div>
  </nb-card-body>
</nb-card>

