<nb-card>
  <nb-card-header>
    <div class="info-block-container">
      <app-info-post-links [text]="user.user" [image]="user.profilePhotoSrc" class="block"></app-info-post-links>
    </div>
  </nb-card-header>
  <nb-card-body>
      <textarea id="input_text" nbInput status="info" fullWidth maxlength="100" placeholder="Введите комментарий" rows="1"></textarea>
      <button nbButton class="submit-button" status="info" size="xsmall" (click)="submitted()">
        Отправить
      </button>
  </nb-card-body>
</nb-card>

